:root {
    --primaryColor: #494c4c;
    --secondaryColor: #373d3d;
    --thirdColor: #2c9678;
    --textColor: #bcc0c5;
    --darkShadow: #151515;
    --lightShadow: #121212;
    --warningColor: #fb8b05;
    --errorColor: #c02c38;
}