:root {
    --primaryColor: #272b29;
    --secondaryColor: #151816;
    --thirdColor: #2c9678;
    --textColor: #707978;
    --darkShadow: #151515;
    --lightShadow: #121212;
    --warningColor: #fb8b05;
    --errorColor: #c02c38;
}