:root {
    --primaryColor: #f6f6f6;
    --secondaryColor: #d3d8d8;
    --thirdColor: #2c9678;
    --textColor: #292b2b;
    --darkShadow: #989b9d;
    --lightShadow: #d1d1d1;
    --lightLight: #ffffff;
    --warningColor: #fb8b05;
    --busyColor: #058cfb;
    --errorColor: #c02c38;
}