:root {
    --primaryColor: #e2e5e3;
    --secondaryColor: #c0c6c6;
    --thirdColor: #2c9678;
    --textColor: #292b2b;
    --darkShadow: #989b9d;
    --lightShadow: #abb5b7;
    --warningColor: #fb8b05;
    --errorColor: #c02c38;
}