body {
    margin: 0;
    padding: 0;
}

.display {
    display: auto;
}

.notDisplay {
    display: none;
}

.mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primaryColor);
    user-select: none;
    -moz-user-select: none;
}

.contentContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--primaryColor);
    box-shadow: 0px 0px 5px var(--darkShadow);
    z-index: 101;
    user-select: none;
    -moz-user-select: none;
}

.leftContent {
    position: absolute;
    top: 0;
    left: 50px;
    width: 320px;
    height: 100%;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.runButton {
    position: absolute;
    top: 0;
    right: 50px;
    width: 25px;
    height: 100%;
    background-color: var(--primaryColor);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.runButton img {
    width: 25px;
    height: 25px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}

.contentHover {
    background-color: var(--primaryColor);
}

.contentHover:hover {
    background-color: var(--secondaryColor);
}

.contentElement {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentElement p {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: "SHSCN-Heavy";
    color: var(--textColor);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-size: 18px;
}

.playgroundContainer {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    background-color: var(--primaryColor);
    overflow: scroll;
    z-index: 0;
    user-select: none;
    -moz-user-select: none;
}

.playgroundContainer::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.infoContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: var(--thirdColor);
    box-shadow: 0px 0px 5px var(--darkShadow);
    z-index: 101;
}

.selector {
    position: absolute;
    top: -180px;
    width: 120px;
    height: 180px;
    box-shadow: 0px 0px 5px var(--darkShadow);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: scroll;
    background-color: var(--primaryColor);
    z-index: 100;
}

.selector::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.selectorElement {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selectorElement p {
    width: 80%;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: "SHSCN-Regular";
    color: var(--textColor);
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.selectorAppear {
    top: 55px;
    animation: movedown 0.25s 1 0s;
}

.selectorDisappear {
    top: -180px;
    animation: moveup 0.25s 1 0s;
}

@keyframes moveup {
    from {
        top: 55px;
    }
    to {
        top: -180px;
    }
}

@keyframes movedown {
    from {
        top: -180px;
    }
    to {
        top: 55px;
    }
}

.dragArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    user-select: none;
    -moz-user-select: none;
}

.canvasArea {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    user-select: none;
    -moz-user-select: none;
}

.shadowArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
    -moz-user-select: none;
}

.blockArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    user-select: none;
    -moz-user-select: none;
}

.lockArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    user-select: none;
    -moz-user-select: none;
}

.shadowBlock {
    position: absolute;
    background-color: var(--lightShadow);
    border-radius: 20px;
    z-index: 2;
    user-select: none;
    -moz-user-select: none;
}

.block {
    position: absolute;
    background-color: var(--primaryColor);
    box-shadow: 0px 0px 5px var(--darkShadow);
    border-radius: 20px;
    border: solid 2px var(--secondaryColor);
    z-index: 5;
    user-select: none;
    -webkit-user-select: none;
}

.logicport {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid var(--secondaryColor);
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}

.dataport {
    position: absolute;
    width: 0;
    height: 0;
    border: 6.5px solid var(--secondaryColor);
}

.blockdiv {
    position: absolute;
    left: 25px;
    top: 25px;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blockp {
    width: 100%;
    min-height: 36px;
    font-family: "SHSCN-Regular";
    color: var(--textColor);
    font-size: 24px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.inputBorder {
    border: solid 2px var(--secondaryColor);
}

.inputTransBorder {
    border: solid 2px transparent;
}

.blockInput {
    width: calc(100% - 10px);
    min-height: 36px;
    font-family: "SHSCN-Regular";
    color: var(--textColor);
    background-color: transparent;
    font-size: 24px;
    line-height: 36px;
    overflow: hidden;
    border-radius: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.blockAssign {
    width: calc(100% - 10px);
    min-height: 72px;
    font-family: "SHSCN-Regular";
    color: var(--textColor);
    background-color: transparent;
    font-size: 24px;
    line-height: 36px;
    overflow: hidden;
    border-radius: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.logicportHover {
    border-left-color: var(--secondaryColor);
}

.logicportHover:hover {
    border-left-color: var(--lightShadow);
}

.dataportHover {
    border-color: var(--secondaryColor);
}

.dataportHover:hover {
    border-color: var(--lightShadow);
}

.connection {
    position: absolute;
}